<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>All Flats</h1>
      <%= link_to "Add a new flat", new_flat_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2><%= link_to flat.name, flat_path(flat) %></h2>
        <ul>
          <li>Price <%= flat.price_per_night %>€</li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
